<h1>Course Edit</h1>

<hr />

<form #courseForm="ngForm" *ngIf="course">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.name" name="name" #courseName="ngModel" [ngClass]="{'is-invalid': courseName.invalid}"
        class="form-control" id="name" required />
      <div class="invalid-feedback">
        <span>Course name is required.</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="price" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.price" name="price" #coursePrice="ngModel" [ngClass]="{'is-invalid': coursePrice.invalid}"
        class="form-control" id="price" required type="number" />
      <div class="invalid-feedback">
        <span>Course price is required.</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <textarea [(ngModel)]="course.description" id="description" name="description" class="form-control" #courseDescription="ngModel"
        required [ngClass]="{'is-invalid': courseDescription.invalid}"></textarea>
      <div class="invalid-feedback">
        <span>Course description is required.</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="rating" class="col-sm-2 col-form-label">Rating</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.rating" name="rating" #courseRating="ngModel" [ngClass]="{'is-invalid': courseRating.invalid}"
        class="form-control" id="rating" required type="number" />
      <div class="invalid-feedback">
        <span>Course price is required.</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="releaseDate" class="col-sm-2 col-form-label">Release Date</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.releaseDate" name="releaseDate" #courseReleaseDate="ngModel" [ngClass]="{'is-invalid': courseReleaseDate.invalid}"
        class="form-control" id="releaseDate" required />
      <div class="invalid-feedback">
        <span>Course price is required.</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="code" class="col-sm-2 col-form-label">Code</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.code" name="code" #courseCode="ngModel" [ngClass]="{'is-invalid': courseCode.invalid}"
        class="form-control" id="code" required />
      <div class="invalid-feedback">
        <span>Course price is required.</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <a class="btn btn-link" [routerLink]="['/courses']">Back to courses list</a>
      <button class="btn btn-primary" [disabled]="courseForm.invalid" (click)="save()">Salvar</button>
    </div>
  </div>
</form>
